@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

@media (min-width: 1200px){
 .container {
    width: 1400px!important;
    max-width: 100%;
 }
}

@media (max-width: 720px){
 .page-title {
   margin-top: 20px!important;
 }
}

html,
body {
	 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  background-image: url(http://s0.limitedrun.com/images/1195462/176-scrambles_original.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about-link {
  color: blue;
}


p {
  padding-left: 30px;
  padding-right: 20px;
  font-family: josefin sans;
  font-weight: bold;
  font-size: 20px;
  color: darkblue;
}

.about-page {
  background-image: url(http://s0.limitedrun.com/images/1195459/BTMI_goodbyecoolw_original.jpg);
  background-position: center center;
  border-radius: 25px;
}

.navbar {
  margin-bottom: 10px;
  border-radius: 10px;
  border-left-style: solid;
  border-color: blue;
}

.bg-primary {
  background: linear-gradient(to right, pink, pink 40%, blue);
}

.nav-font {
  font-size: 30px;
  font-family: Bangers;
}

a {
  text-align: center;
}

.page-title {
  text-align: center;
  vertical-align: middle;
  font-size: 8vw;
  font-family: Special Elite;
  color: blue;
  margin-top: 50px;
}

img {
  width: 700px;
  max-width: 90%;
  max-height: 393.75px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.maingif {
  padding-top: 50px;
  padding-bottom: 75px;
}

.gifbutton {
  display: block;
  margin: auto;
  color: blue;
  border-radius: 5px;
  font-size: 40px;
  font-family: Bangers;
  background-color: pink;
  padding: 10px ;
  width: 700px;
  max-width: 90%;
  border: 2px solid blue;
  cursor: pointer;
}

.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}

.nav-link {
  color: blue!important;
}

.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@-moz-keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes three-quarters-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
